# .htaccess - Application hardening

RewriteEngine On

# If the request is for a file or directory, serve it directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Prevent directory listing
Options -Indexes

# Protect sensitive directories
<FilesMatch "\.(env|json|log|ini|sql|txt)$">
    Order allow,deny
    Deny from all
</FilesMatch>
